.about_container {
  padding: 1rem 2rem;
}

.about_container > * {
  margin-bottom: 2rem;
}

.about__description_container > *{
  margin-bottom: 20px;
}

.description_header {
  font-size: 1rem;
}

.about_call-to-action_container {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--sky_blue);
  width: max-content;
  color: var(--sky_blue);
}

@media (min-width: 768px) {
  .about_container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
  }

  .about__img {
    width: 50%;
  }
}
