.features_card_container {
  margin: auto;
  text-align: center;
  padding: 2rem 1rem;
  max-width: 400px;
}

.feature_description,
.feature_title,
.feature_img {
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
   .features_card_container {
      padding: 3rem;
      max-width: 450px;
   }
}
