#footer {
   padding-top: 250px;
   background: var(--footer_bg);
   bottom: 0;
}

.footer_sub_container {
   width: 80%;
   max-width: 1440px;
   margin: auto;
   padding: 2rem 0;
}

.footer_logo {
   margin-bottom: 1rem;
}

.footer_links_container > * {
   margin-bottom: 30px;
}

.footer_flex {
   display: flex;
   gap: 15px;
}

.footer_icon {
   object-fit: contain;
   align-self: flex-start;
}

.footer_columns>* {
   margin-bottom: 10px;
}

.footer_columns_block>* {
   display: block;
}

.socials {
   display: flex;
   gap: 10px;
}

@media (min-width: 900px) {
   .footer_links_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem;
   }

   .address {
      flex-basis: 35%;
   }

   #footer {
      padding: 200px 0 30px;
   }
}