#features {
  width: 80%;
  margin: auto;
  max-width: 1440px;
  display: grid;
  place-items: center;
  padding: 4rem 1rem;
}

#testimony {
  padding: 4rem 0;
  position: relative;
}

#testimony > div {
  margin-bottom: 20px;
}

.quote_icon {
  width: 60px;
  padding-left: 20px;
}

@media (min-width: 900px) {
  #features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #testimony {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    padding: 6rem 0;
    width: 95%;
  }

  .quote_icon {
    position: absolute;
    left: 0;
    top: 50px;
    object-fit: contain;
  }
}
